
@media (max-width: 1024px)
body, html {
  /* height: 100%!important; */
  overflow: auto!important;
  max-height: 100vh !important;
}

::placeholder {
    color: #8c8c8c;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #8c8c8c;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: #8c8c8c;
}

::-webkit-input-placeholder {
   color: #8c8c8c;
}

.ant-progress-inner {
    display: inline-block;
    width: 100%;
    background-color: rgba(256,256,256,0.1);
    border-radius: 100px;
    vertical-align: middle;
    position: relative;
}
